@import '../../../styles/variables';
$sidebar-color : $hover-color;
.MainLayout {
  background-color: $background-color;
  &.ant-layout {
    .ant-layout-sider {
      &.ant-layout-sider-dark {
        background-color: $background-color;
      }
      .ant-menu{
        &.ant-menu-dark {
          background-color: $background-color;
        }
        .ant-menu-item {
          &.ant-menu-item-selected {
            background-color: unset;
            color: $highlight-color;
            .anticon {
              color: $highlight-color;
            }
            > span > a {
              color: $highlight-color;
            }

          }
        }
      }
      .ant-layout-sider-trigger {
        background-color: $background-color;
        color: rgba(255, 255, 255, 0.65);
        &:hover {
          color: #ffffff;
          background-color: $hover-color;
        }
      }
    }
  }
}