@import '../../../styles/variables';

.Header {
  background: $header;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  .HeaderMenu {
    background: $header;
  }
}

.MainLayout {
  height: 100vh;
  background-color: $background-color;
}

.ContentWrapper {
  padding: 10px;
  height: calc(100vh - 40px);
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.Content {
  background: $background-color;
  padding: 3px;
  height: calc(100% - 75px);
  text-align: center;
  overflow: auto;
  color: #ffffff;
}

.Footer {
  height: 35px;
  text-align: center;
  background-color: $background-color;
  color: #ffffff;
  padding: 10px 50px;
}

.HeartIcon {
  color: #f5222d;
}

.Actions {
  padding-left: 15px;
  padding-top: 5px;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
}
.Title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 1440px) {
  //.ContentWrapper {
  //  max-width: 1240px;
  //}
}