@import '../../../styles/variables';

.Header {
  background: $header;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  .HeaderMenu {
    background: $header;
  }
}

.MainLayout {
  height: 100vh;
  //background-color: $background-color;
}

.ContentWrapper {
  padding: 0;
  height: calc(100vh - 234px);
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.Content {
  background: #fff;
  padding: 24px;
  height: 100%;
  text-align: center;
  overflow: auto;
}

.Footer {
  text-align: center;
  background-color: $background-color;
}

.HeartIcon {
  color: #f5222d;
}

@media (min-width: 1440px) {
  .ContentWrapper {
    max-width: 1240px;
  }
}