@import '../../../styles/variables';

.Header {
  background: $header;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  .HeaderMenu {
    background: $header;
  }
}

.MainLayout {
  height: 100vh;
  background-color: $background-color;
}

.ContentWrapper {
  padding: 30px 30px 50px 30px;
  height: calc(100vh - 50px);
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.Content {
  background: $background-color;
  padding: 10px;
  height: 100%;
  text-align: center;
  overflow: auto;
}

.Footer {
  text-align: center;
  background-color: $background-color;
  color: #ffffff;
  padding: 10px 50px;
}

.HeartIcon {
  color: #f5222d;
}

@media (min-width: 1440px) {
  //.ContentWrapper {
  //  max-width: 1240px;
  //}
}