@import '../../styles/variables';

.JsonFormatter {
  height: 100%;
}
.InputContainer {
  background-color: $content-background-color;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.JsonViewContainer {
  background-color: $content-background-color;
  border-radius: 10px;
  margin-top: 10px;
}
.Input {
  background-color: $content-background-color;
  color: #fff;
  border-color: $content-background-color;
}