$primary-color: #6c737e;
$background-color: #222831;
$header-color: #7393a7;
//$header: linear-gradient(45deg,#002766, #0288d1);
$header: linear-gradient(45deg,#30c8e6, #43d8b5);

$highlight-color: #2f9ead;
$content-background-color: #323841;
$hover-color: #1d2027
