@import '../../../styles/variables';
@import '../../../styles/mixins';

.UUIDCard {
  margin: 20px 50px;
  background-color: $content-background-color;
  color: #fff;
  border-radius: 10px;
}

.Input {
  &:disabled {
    @include input;
  }

}

.Button {
  margin: 10px
}