@import '../../../styles/variables';

.UUIDCard {
  margin: 20px 50px;
  background-color: $content-background-color;
  color: #fff;
  border-radius: 10px;
}

.Input {
  margin: 20px 0;
}

.Button {
  margin: 10px
}