@import '../../../styles/variables';

.SplitContainer {
  .gutter.gutter-horizontal {
    cursor: ew-resize;
    background-color: $hover-color  ;
    margin-top: 10px;
    &:hover {
      background-color: $hover-color;
    }
  }
}
