@import '../../../styles/variables';

.SplitContainer {
  .gutter.gutter-horizontal {
    cursor: ew-resize;
    background-color: $background-color;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: $hover-color;
    }
  }
}
