@import '../../../styles/variables';

.JWTParserResult {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

.JWTParserResultItem {
  padding: 10px;
  margin-top: 10px;
  background-color: $content-background-color;
  height: calc(50% - 10px);
  border-radius: 10px;
}

.Header {
  color: #fff;
}
.InvalidTokenLabel {
  color: #e53935;
  font-style: italic;
}
